<main>
  <div class="main-visual1">
    <div class="main-visual-content1 col-lg-5 col-md-5 col-xs-5"></div>
  </div>
  <div class="main-visual2">
    <div class="main-visual-content2 col-lg-5 col-md-5 col-xs-5"></div>
  </div>
</main>